<!DOCTYPE html>
<html 	lang="ko"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- [head] 영역 시작 -->
    <head th:replace="fragment/config :: configFragment">
        <title>default</title>
    </head>
    <!-- [head] 영역 끝 -->



    <body id="page-top" style="font-family: GmarketSansLight;font-weight: normal;">


        <!-- [header] 영역 시작 -->
        <header th:replace="fragment/header :: headerFragment"></header>
        <!-- [header] 영역 끝 -->


        <!-- [content] 영역 시작 -->
        <div layout:fragment="content"></div>
        <!-- [content] 영역 끝 -->

        <!-- custom javascript 시작 -->
        <th:block layout:fragment="script"></th:block>
        <!-- custom javascript 끝 -->

        <!-- [footer] 영역 시작 -->
        <footer th:replace="fragment/footer :: footerFragment"></footer>
        <!-- [footer] 영역 끝 -->


    </body>

</html>