<!DOCTYPE html>
<html style="font-family: Lato, sans-serif;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PSMP</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">

    <style>
        @font-face {
            font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal;
        }
    </style>
</head>
<script src="/assets/js/jquery.min.js"></script>
<body id="page-top" style="font-family: GmarketSansLight;font-weight: normal;">
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="/"><i class="fas fa-dog"></i>PSMP<i class="fas fa-cat"></i></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
                                                                                                                                                          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link" href="#" style="padding: 16px;padding-right: 0px;padding-left: 0px;margin-right: 10px;">구경하기</a>
                    <div role="menu" class="dropdown-menu">
                        <a role="presentation" class="dropdown-item" href="/dog">
                            <i class="fas fa-dog" style="color: rgb(255,92,0);"></i>
                            댕댕이
                        </a>
                        <a role="presentation" class="dropdown-item" href="/cat">
                            <i class="fas fa-cat" style="color: rgb(245,215,72);"></i>
                            야옹이
                        </a>
                        <a role="presentation" class="dropdown-item" href="/other">
                            <i class="fa fa-star" style="color: rgb(103,174,245);"></i>
                            다른 동물
                        </a>
                    </div>
                </li>
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">인기 펫</a></li>
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item mx-0 mx-lg-1" role="presentation"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
            {{#curUser}}
                <span>Login :</span> <span id="user">{{curUser}} </span>
                <button class="btn btn-primary btn-sm"  type="button" onclick = "location.href = '/login'" style="margin: 10px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;">로그아웃</button>
            {{/curUser}}
            {{^curUser}}
            <button class="btn btn-primary btn-sm"  type="button" onclick = "location.href = '/login'" style="margin: 10px;margin-top: 0px;margin-bottom: 0px;margin-left: 0px;">로그인</button>
            <button class="btn btn-primary btn-sm"  type="button" onclick = "location.href = '/join'" style="margin-left: 0px;">회원가입</button>
            {{/curUser}}
                <!--data-bs-hover-animate="tada"-->
        </div>
    </div>
</nav>