<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorator="layout/default">

<div layout:fragment="content">
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary" style="margin-top: 40px;">댕댕이</h2>
            <hr class="star-dark mb-5" />
            <div class="row">
                <div th:each="board : ${posts}" class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item"  th:href="'/dog/'+${board.id}">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" th:src="${board.thumbnailsrc}" style="min-height: 252.76px;"/>
                    </a>
                    <a th:href="'/dog/'+${board.id}">
                        <h5 class="text-center" th:text="${board.title}"></h5>
                        <h6 class="text-center" th:text="'댓글 : [' + ${board.commentcount} + ']  조회 : ' +${board.hitcount}+ '  집사 : ' + ${board.writer}"></h6>
                    </a>
                </div>

            </div>

            <nav class="d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center" style="margin-top:50px;margin-left: -1px;margin-right: 0px;font-size: 25px;font-family: GmarketSansLight;">
                <ul id="pagination" class="pagination"
                th:with="startNumber=${T(Math).floor(posts.number/10)}*10+1,
                        endNumber=(${posts.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${posts.totalPages}">

                    <li class="page-item" th:style="${posts.first} ? 'display:none'">
                        <a class="page-link" href="/dog?page=1" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>

                    <li class='page-item ' th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                        th:classappend="(${page} == ${posts.number}+1) ? 'active'">
                        <a class="page-link" th:href="@{/dog(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li class="page-item" th:style="${posts.last} ? 'display:none'">
                        <a class="page-link" th:href="@{/dog(page=${posts.totalPages})}" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>






                </ul>
            </nav>

            <!--검색-->
            <form action="/dog/search" method="get">
                <div class="d-flex justify-content-sm-center justify-content-lg-center">
                    <select name="type" id="searchselect" class="border rounded" style="margin-right: 5px;">
                        <option value="T" th:selected="${type} == 'T'">제목</option>
                        <option value="C" th:selected="${type} == 'C'">내용</option>
                        <option value="TC" th:selected="${type} == 'TC'">제목+내용</option>
                        <option value="W" th:selected="${type} == 'W'">작성자</option>
                    </select>
                    <div class="float-none float-md-none d-xl-flex justify-content-xl-center mt-5 mt-md-0 search-area">
                        <i class="fas fa-search float-left search-icon"></i>
                        <input type="search" name="keyword" class="float-left custom-search-input" th:value="${keyword}" placeholder="Search" maxlength="15" />
                        <button class="btn btn-link btn-sm" id="btn-search" type="submit">검색</button>
                    </div>
                </div>
            </form>
            <!--검색-->

            <a class="btn btn-primary btn-lg float-right d-xl-flex" role="button" href="/dog/post">글작성</a>
        </div>
    </section>

    <!--위로 이동-->
    <div class="d-lg-none scroll-to-top position-fixed rounded"><a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>



</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        </script>
</th:block>


</html>