{{>layout/header}}
<section id="portfolio" class="portfolio">
    <div class="container">
        <h2 class="text-uppercase text-center text-secondary" style="margin-top: 40px;">댕댕이</h2>
        <hr class="star-dark mb-5" />
        <div class="row">
            {{#posts}}
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" href="/dog/{{id}}">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="./assets/img/cake.png" style="max-height: 252.76px;"/>
                        <h5 class="text-center">{{title}}</h5>
                    </a>
                </div>
            {{/posts}}
        </div>

        <nav class="d-flex d-xl-flex justify-content-center justify-content-xl-center" style="margin-left: -1px;margin-right: 0px;font-size: 25px;font-family: GmarketSansLight;">
            <ul id="pagination" class="pagination"></ul>
        </nav>
        <a class="btn btn-primary btn-lg float-right d-xl-flex" role="button" href="/dog/post">글작성</a>
    </div>
</section>

<!--위로 이동-->
<div class="d-lg-none scroll-to-top position-fixed rounded"><a class="d-block js-scroll-trigger text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>


<script type="text/javascript">
    $(document).ready(function () {
        var curPage = {{posts.number}};
        var startNum = Math.floor(curPage/10)*10+1;
        var endNum =({{posts.totalPages}} > startNum+9) ? startNum+9 : {{posts.totalPages}};
        // {{posts.totalPages}} > startNum+9이 참이면 startNum+9, 거짓이면 {{posts.totalPages}}


        function page() {
            // 이전 페이지
            var Previous = '{{^posts.first}}\n'+
                    '<li class="page-item"><a class="page-link" href="/dog?page=1" aria-label="Previous"><span aria-hidden="true">«</span></a></li>\n' +
                    '{{/posts.first}}';
            $("#pagination").append(Previous);

            // 페이징
            for(var i = startNum; i <= endNum; i++)
                $("#pagination").append(
                    '<li class="page-item '+
                        ((i == curPage+1) ? "active" : "") +
                            '">'+
                        '<a class="page-link" href="/dog?page='+i+'">'+i+'</a></li>'
                );

            // 다음 페이지
            var Next = '{{^posts.last}}\n'+
                    '<li class="page-item"><a class="page-link" href="/dog?page={{posts.totalPages}}" aria-label="Next"><span aria-hidden="true">»</span></a></li>\n' +
                    '{{/posts.last}}';
            $("#pagination").append(Next);
        }
    page();

    });
</script>

{{>layout/footer}}