{{>layout/header}}
<header class="masthead bg-primary text-white text-center">
    <div class="container">
        <img class="img-fluid d-block mx-auto mb-5" src="./assets/img/icon_dog.png">
        <h1>댕댕이</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">댕댕이 넘귀엽댕</h2>
    </div>
</header>
{{>layout/footer}}